@{
    ViewData["Title"] = "About Me";
}

<div class="container text-center">
    <h1 class="display-4">About Me</h1>

    <div class="row pt-4">
        <div class="col-9 text-left">
            <p class="h4">Hello, my name is Richard Woessner. I am a Software Developer student with a passion for anything competition. This comes in all forms, I love to watch sports, I play in Volleyball leagues, and love to participate in video game LANs when I can. </p>
        </div>
        <div class="col-3">
            <img class="img-thumbnail" src="~/img/me.jpg">
        </div>
    </div>







</div>
