@{
    ViewData["Title"] = "Riot";
}

<div class="container text-center">
    <h1 class="display-4">Riot</h1>
   

    <div class="row text-left">
        <div class="col-4">
            <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4Ps6nV4wiCE" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <img class="img-thumbnail" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.underconsideration.com%2Fbrandnew%2Farchives%2Friot_games_logo.png&f=1&nofb=1">
            <img class="img-thumbnail" src="http://download.gamezone.com/uploads/image/data/871229/league-of-legends-logo.jpg">
        </div>
        <div class="col-6">
            <p class="h4">Riot is a video game company that is known for creating one of the biggest games in the world League of Legends. Since then, they have added more to their resume by creating new games like Valorant, Legends of Runeterra, and Team Fight Tactics. They have also recently created an amazing show that is set in the League of Legends universe called Arcane, which I highly recommend, and I don’t even like League. </p>
        </div>
    </div>

</div>
