@{
    ViewData["Title"] = "Valorant";
}

<div class="m-2">
    <h1 class="display-4 text-center">What is Valorant</h1>
    

<div class="row">
    <div class="col-6 text-left">
        <div class="py-2">
            <p class="h4">Valorant is a 5v5 tactical shooter. The 2 teams are either attacking or defending, where the attacker’s goal is to blow up a section of the map using an item called the spike and the defender’s job is to stop the attackers, first to win 13 rounds wins that match. Players are expected to use their resources as in different weapons, agents, and abilities to battle and or out think the enemy.</p>
        </div>
        <div class="py-2">
            <p class="h4">Its hard to explain the rules of the game through written instructions, if you would like a better example watch this video</p>
</div>
    </div>
    <div class="col-6 ">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9omyVqrXhOg" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
